signage_config.php
*_cache.json

# IDEs and Editors
.vscode/

# Node.js
node_modules/
npm-debug.log

# Composer & PHPUnit
vendor/
composer.phar
.phpunit.result.cache
.phpunit.cache/
tests/php/test_cache.json

# Agent Rules
/.agents/rules/*
!/.agents/rules/signage.md
